.cards{
    width:300px;
    height:350px;
    transition:transform 2s;
    display:grid;
    grid-template-rows: 1fr 4fr;
    /* border: 1px solid black; */
    border-radius:20px;
    box-shadow: 3px 3px 3px 6px solid black;
    overflow: hidden;
    color:aliceblue;
}

.cards:hover{
    transform:scale(1.1) ;
}

.heading{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    padding: 20px;
    height: 100%;
       
}
.design-div{
    grid-column: 1/-1;
    grid:2/-1;
    display: flex;
}

@media only screen and (max-width: 480px) {
    .cards {
    width: 300px;
    height: 350px;
    transition: transform 2s;
    display: grid;
    grid-template-rows: 1fr 4fr;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 3px 3px 3px 6px solid black;
    overflow: hidden;
    color: aliceblue;
    }
    
    .cards:hover {
    transform: scale(1.1);
    }
    
    .heading {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    padding: 20px;
    height: 100%;
    }
    
    .design-div {
    grid-column: 1/-1;
    grid: 2/-1;
    display: flex;
    }
    }