/* this is css of CommHead */
.head-style-comm{
    width: 100%;
    display: grid;
    grid-template-rows:2fr 1fr ;
     border-bottom: 1px solid rgb(196,197,197)
}
.first-two-div{
    grid-row:1/2;
    display: flex;
}
.head-comm{
    flex-grow: 3;
}
.head-comm h1{
    font-weight: normal;
}
.account-info{
    flex-grow: 1;
}
.two-two-style{
    grid-row:2/3;
    display: flex;
}
.upload-time-display{
    flex-grow: 3;
}
.like-button{
    flex-grow: 1;
}



.commCon-style{
    width:100%;
    border-bottom: 1px solid rgb(196, 197, 197);
    margin :10px;
}


.CommAns-styl{
    width:100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border-bottom: 1px solid rgb(196, 197, 197);
}
.Answer{
    grid-row: 1/2;
    margin:10px;
}
.Answer h1{
    font-weight: normal;
}
.commans-content-styl{
    grid-row: 2/3;
}
.footer-commans{
    grid-row: 3/-1;
    display: flex;
    flex-direction: row;
}
.timing{
    flex-grow:3;
}
.ans-like{
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;   

}
.comment-profile{
    flex-grow:2;    

}

.reply{
    width:80%;
    margin-left:40px;
    display:flex;
    flex-direction: column;

}
.reply-content{

    width:100%;
    flex-grow: 3;
}
.reply-user{
    flex-grow: 1;
    border-bottom: 1px solid rgb(196, 197, 197);

}
.like-btn{
    border:none;
    color:blue;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}
.like-btn:hover{
    color:orange;
    box-shadow: 1px 1px 1px rgb(196, 197, 197);
    transform: scale(1);
}.reply-btn{
    border: none;
    border-radius:10px;
    cursor:pointer;
    width:50px;
    height:25px;
    margin:5px;
    background-color: orange;
    color: white;
}
.reply-btn:hover{
    border-radius: 0 100px 100px 0;
}

@media only screen and (max-width:600px){
    .head-style-comm{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    }
    .commCon-style{
        width:100vw;
    }
    .commCon-style > p{
        padding:10px;
    }
    .first-two-div{
    grid-row:1/-1;
    flex-direction: column;
    align-items: center;
    }
    .head-comm h1{
    text-align: center;
    }
    .two-two-style{
    grid-row:2/-1;
    flex-direction: column;
    align-items: center;
    }
    .CommAns-styl{
    grid-template-rows: 2fr 1fr;
    }
    .footer-commans{
    flex-direction: column;
    align-items: center;
    }
    .reply{
    width:100%;
    margin-left:0px;
    }
    }