.Question{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.question-nav{
   grid-row: 1/2;
   width: 100%;
   height:71px;
   border-bottom: 1px solid rgb(246, 246, 246);
}
.question-body{
    grid-row:2/3;
    width:100%;
    height:100%;
}
.heading-ques{
    color:orange;
    padding:5px;
    margin:5px;

}

@media only screen and (max-width: 767px){
    .Question{
    grid-template-rows: auto 9fr;
    }
    .question-nav{
    height: 71px;
    padding: 10px;
    }
    .heading-ques{
    font-size: 1.2em;
    }
    }