
.quespage{
    width:100%;
    height:100px;
    display: grid;
    grid-template-rows:1fr 1fr;
    border-bottom: 1px solid rgb(196,197,197);
}
.quespage-head{
    grid-row:1/2;
    display: flex;
}
.quespage-link{
    flex-grow:2;
    padding:10px;    
}
.quespage-info{
    flex-grow: 1;
}
.quespage-info i{
    margin:5px;

}
.active{
    color:orange
}

.quespage-body{
    grid-row: 2/3;
    width:100%;
    display:flex;
    justify-content:flex-start ;
}

@media only screen and (max-width: 767px) {
    .quespage{
        height:200px;
    }
    .quespage-head {
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    }
    .quespage-link {
    text-align: center;
    flex-grow: unset;
    width: 100%;
    margin-bottom: 10px;
    }
    .quespage-info {
    width: 100%;
    text-align: center;
    flex-grow: unset;
    margin-bottom: 10px;
    }
    .quespage-body {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    }
    }
    
    
    
    
    
