.activity{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 250px 200px
}
.activity-Likes{
    grid-row:1/2;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.activity-Likes > div{
    border: 1px solid black;
    width:50%;
    height:100%
}
.activity-body{
    grid-row:2/3;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.activity-body > div{
    border:1px solid orange;
    width:40%;
    height:50%;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    .activity {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    }
    .activity-Likes {
    grid-row: 1/2;
    flex-direction: column;
    }
    .activity-Likes > div {
    width: 100%;
    height: 100%;
    }
    .activity-body {
    grid-row: 2/3;
    flex-direction: column;
    }
    .activity-body > div {
    width: 100%;
    height: 100%;
    }
    }
    
    
    
    
    